

/* Custom Layouts */
paper-header-panel {
	height: 100vh;
}

.blue .paper-header:not([style-scope]):not(.style-scope) {
    background-color: #03a9f4;
}

.paper-header:not([style-scope]):not(.style-scope) {
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
}

.paper-header.tall:not([style-scope]):not(.style-scope) {
    height: 120px;
    line-height: 120px;
}

div.content {
	color: #000;
	text-align: center;
	background: linear-gradient(white, #b3e5fc);
	height: 100vh;
}

canvas-sketch {
    width: 90%; 
    height: 80vh;
    margin: 200px auto 20px auto;
    border: 1px solid gray;
    overflow: hidden;
    background: #fff;
}

