@import url("palette.css");

/* Custom Layouts */
paper-header-panel {
	height: 100vh;
}

.paper-header:not([style-scope]):not(.style-scope) {
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
}

div.content {
	color: #000;
	text-align: center;
	height: 100vh;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

canvas-sketch {
    height: 70vh;
    margin: 40px auto 20px 0;
    overflow: hidden;
    background: #fff;
    border-radius: 3px;
}

div.drawingSection {
    display: inline-block;
    width: 70%;
    margin: 0 auto 0 0;
}

div.textSection {
    border-radius: 3px;
    display: inline-block;
    background: #fff;
    margin: 40px 0 20px auto;
    width: 20%;
    height: 76vh;
    float: right;
    padding: 10px;
}

div#controls {
    margin: 40px auto 20px auto;
    text-align: left;
}

paper-button {
    display: inline-block;
    width: 40%;
    color: #fff;
}

paper-button:first-of-type {
    float: left;
}

paper-button:last-of-type {
    float: right;
}

