
@import url("palette.css");

/* Custom Layouts */
paper-header-panel {
	height: 100vh;
}

.paper-header:not([style-scope]):not(.style-scope) {
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
}

div.content {
	color: #000;
	text-align: center;
	height: 100vh;
}

canvas-sketch {
    width: 90%; 
    height: 70vh;
    margin: 20px auto 20px auto;
    border: 1px solid gray;
    overflow: hidden;
    background: #fff;
}

div#controls {
    margin: 20px auto 20px auto;
    width: 100%;
}

paper-button {
    display: inline-block;
    width: 100px;
    margin: 20px 100px 20px 100px;
    color: #fff;
}

